.home
  .row
    .columns.small-10.small-offset-1.medium-8.medium-offset-2.large-10.large-offset-1
      .columns.small-6
        %a.expanded.button.button-schedule{ href: new_inspection_path } Schedule an Inspection
      .columns.small-6
        %a.expanded.button.button-view{ href: inspections_print_path, target:'_blank' } Print Inspections

  / .row
  /   %h2 Inspections by Inspector
  /   - Inspector.joins(:inspector_profile).each do |inspector|
  /     %div= inspector.name

  /     %table
  /       %thead
  /         %tr
  /           %th Permit number
  /           %th Contact name
  /           %th Contact phone
  /           %th Contact email
  /           %th Inspection type
  /           %th Requested for
  /           %th Address
  /           %th Assigned to
  /           %th
  /           %th
  /           %th

  /       %tbody
  /         - inspector.inspections.each do |inspection|
  /           %tr
  /             %td= inspection.permit_number
  /             %td= inspection.contact_name
  /             %td= inspection.contact_phone
  /             %td= inspection.contact_email
  /             %td= inspection.inspection_type.to_s
  /             %td= inspection.requested_for_date
  /             %td= inspection.address
  /             %td= inspection.current_assignment.present? ? inspection.current_assignment.inspector.name : nil
  /             %td= link_to 'Show', inspection
  /             %td= link_to 'Edit', edit_inspection_path(inspection)

  /   %br


  /   - inspections_today = Inspection.where("DATE_TRUNC('day', requested_for_date) = ?", DateTime.now.to_date)
  /   %h2 Today's Inspections (#{inspections_today.count})
  /   %table
  /     %thead
  /       %tr
  /         %th Permit number
  /         %th Contact name
  /         %th Contact phone
  /         %th Contact email
  /         %th Inspection type
  /         %th Requested for
  /         %th Address
  /         %th Assigned to
  /         %th
  /         %th
  /         %th

  /     %tbody
  /       - inspections_today.each do |inspection|
  /         %tr
  /           %td= inspection.permit_number
  /           %td= inspection.contact_name
  /           %td= inspection.contact_phone
  /           %td= inspection.contact_email
  /           %td= inspection.inspection_type.to_s
  /           %td= inspection.requested_for_date
  /           %td= inspection.address
  /           %td= inspection.current_assignment.present? ? inspection.current_assignment.inspector.name : nil
  /           %td= link_to 'Show', inspection
  /           %td= link_to 'Edit', edit_inspection_path(inspection)
