.row
  .margin-bottom-10 Let's fill in some contact info:
.row
  .max-width-px-400
    %label Contact name *
    = f.text_field :contact_name, placeholder: 'Firstname Lastname', required: true, "data-parsley-error-message" => "Contact name is required."
.row
  .max-width-px-400
    %label Contact number *
    = f.text_field :contact_phone, placeholder: '(562) 555-1234', required: true, "data-parsley-error-message" => "Phone number is required."
.row
  .max-width-px-400
    = f.check_box :contact_phone_can_text
    %label{ for: :contact_phone_can_text } Send me text messages at this number
.row
  .max-width-px-400
    %label Email
    = f.text_field :contact_email, placeholder: 'example@example.com'