.row
  .margin-bottom-10 What is the inspection type? *
  .field
    = f.hidden_field :inspection_type_id
  .max-width-px-400
    %select.inspection-supercategories{ name: 'supercategory' }
      %option
      = options_for_select([['Single-family / Duplex', 'residential'], ['Three or more units: Multi-family Residential / Condo', 'commercial'], ['Commercial', 'commercial']])
  .max-width-px-400
    %select.inspection-categories{ name: 'category', style: 'display:none;' }
      -# options are inserted here by JS
  .max-width-px-400
    %select.inspection-names{ style: 'display:none;' }
      -# options are inserted here by JS
  .columns.small-12
    .inspection-type-comments.margin-bottom-10
.row
  .margin-bottom-10 Any further details on the type of inspection required? (e.g. gate access code)
  .max-width-px-400
    = f.text_field :inspection_notes
