.row
  .margin-bottom-10 Project address: *
.field
  = f.fields_for @inspection.address do |addr|
    .max-width-px-400
      #locationField
        %input#autocomplete{:onFocus => "geolocate()", :placeholder => "Enter your address", :type => "text"}
    #address.max-width-px-400
      .row
        .field.width-20.margin-right-pct-5.float-left
          .label Street no.
          %input#street_number.field{ name: 'inspection[address_attributes][street_number]', type: 'text', disabled: true, required: true }
        .field.width-75.float-left
          .label Street name
          %input#route.field{ name: 'inspection[address_attributes][route]', type: 'text', disabled: true, required: true }
      .row
        .label City
        %input#locality.field{ name: 'inspection[address_attributes][city]', type: 'text', disabled: true, required: true }
      .row
        .field.width-20.margin-right-pct-5.float-left
          .label State
          %input#administrative_area_level_1.field{ name: 'inspection[address_attributes][state]', type: 'text', disabled: true, required: true }
        .field.width-75.float-left
          .label Zip code
          %input#postal_code.field{ name: 'inspection[address_attributes][zip]', type: 'text', disabled: true, required: true }
.row
  .margin-bottom-10 Any address notes or instructions for when the inspector arrives? (e.g. suite number, floor, gate code, lock box combination, dog)
  .max-width-px-400
    = f.label :address_notes
    = f.text_field :address_notes
