.row#inspection-type-basic
  .margin-bottom-10 What is the inspection type? *
  .max-width-px-400
    %select.inspection-supercategories{ name: 'supercategory' }
      %option{ value:'', disabled: true, selected: true } Select a property type
      = options_for_select([['Single-family / Duplex', 'residential'], ['Three or more units: Multi-family Residential / Condo', 'commercial'], ['Commercial', 'commercial']])
  .max-width-px-400
    %select.inspection-categories{ name: 'category' }
      -# options are inserted here by JS
  .max-width-px-400
    %select#inspection-names.inspection-names{ style: "display:none;", placeholder: "Type here to choose inspection types", multiple: true }
      -# options are inserted here by JS
  = f.hidden_field :inspection_type_id, required: true
  .columns.small-12
    .inspection-type-comments.margin-bottom-10
.row
  .margin-bottom-10 Any details or clarification on the type of inspection required?
  .max-width-px-400
    = f.text_field :inspection_notes
