-# @inspections | Array

%p#notice= notice
.row
  - if @inspections.count == 1
    %p Thank you! Your inspection request has been made for:
    .small-12.medium-6.medium-centered
      = render 'show_basic', inspection: @inspections.first
  - else
    %p Thank you! We've recorded the following inspection requests, one for each type of inspection you need:
    - @inspections.each do |inspection|
      .columns.small-12.medium-6
        = render 'show_basic', inspection: inspection

.row
  The building permits department can be reached at 562-570-5237.
.row
  To find out what time of day the inspector will arrive, please call back after 8:30am on the day of your inspection.
.row
  = link_to 'Request Another Inspection', inspections_new_path
