.columns.small-12.medium-6.medium-offset-3
  = render 'show_basic'
  .row
    = link_to 'Request Another Inspection', inspections_new_express_path
  .row
    = link_to 'Return to Homepage', root_path
